@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/index.css">


<!-- Jag behöver loopa igenom alla springCollections och skriva ut strängen för dessa olika items. -->
<!-- För att routa via params kan jag använda typ <a asp-page="/ProductPage/Product" asp-route-id="ATproduct.Id"> -->

<div class="text-center">
    <h1 class="display-4 shop-header">Jewelry Shop</h1>
</div>
<div class="text-center shop-quote">
    <h3>Gold is the new black</h3>
</div>
<div class="text-center mt-5">
    <br />
    <p>SPRING COLLECTION</p>
</div>

<div id="carouselControls" class="carousel slide mx-auto" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselControls" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselControls" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselControls" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
    @for (int i = 0; i < 3; i++)
    {
        @if (i == 0)
        {
            <div class="carousel-item active">
                <a asp-page="/ProductPage/Product" asp-route-id="@Model.springCollection[i].Id">
                    <img src="@($"/images/{Model.springCollection[i].Image}")" class="d-block w-100 h-100 mx-auto spring-collection-img">
                </a>
                </div>
        }
        else
        {
            <div class="carousel-item">
                <a asp-page="/ProductPage/Product" asp-route-id="@Model.springCollection[i].Id">
                        <img src="@($"/images/{Model.springCollection[i].Image}")" class="d-block w-100 h-100 mx-auto spring-collection-img">
                </a>
            </div>
        }
    }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<script src="~/js/item.js"></script>
<script src="~/js/shoppingBasket.js"></script>


