@page
@using JewelryShop.Models
@model JewelryShop.Pages.ProductPage.ProductModel
@{
}

<link rel="stylesheet" type="text/css" href="~/css/productPage.css" />


<div class="pt-5">
    <h6>
        <a class="nav-link text-dark back-to-shop" asp-area="" onclick="goBack()">
            <i class="fas fa-long-arrow-alt-left me-2"></i>Back
        </a>
    </h6>
</div>


<section class="h-100 h-custom" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <h1 class="fw-bold mb-0 text-black">@Model.product.Brand</h1>
            </div>
            <div>
                 <img src="@($"/images/{Model.product.Image}")" class="d-block w-100 h-100 spring-collection-img">
            </div>
            <div class="d-flex justify-content-between mb-5">
               <h5>€ @Model.product.Price</h5> <!-- Här måste jag länka priset! -->
            </div>
            <form>
                <input type="hidden" asp-for="product.Id" />
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">
                    Add to cart
                </button>
            </form>
            
            </div>
         </div>
    </div>
</section>
<script>function goBack() { window.history.back(); }</script>
<script></script>